#omen-bottom-left-image {
    position: fixed;
    bottom: -37px;
    right: 0px;
    width: 400px;
    /* Adjust width */
    height: 250px;
    width: 250px;
    z-index: 1000;
    /* Ensure it appears above other content */
    background-color: transparent;
}

#omen-chasing-image {
    position: absolute;
}